

<div align="center" class="wrapper">
  <% if @hunt.id == 1 && @hunt.guide_id == 1%>
    <img src="/elk2.jpg" >
     <% end %>
  <% if @hunt.id == 2 && @hunt.guide_id == 1%>
    <img src="/deer.webp" >
     <% end %>
  <% if @hunt.id == 3 && @hunt.guide_id == 1%>
    <img src="/mlion.jpg" >
     <% end %>
  <% if @hunt.id == 4 && @hunt.guide_id == 2%>
    <img src="/lep2.webp" >
     <% end %>
  <% if @hunt.id == 5 && @hunt.guide_id == 2%>
    <img src="/lion2.webp" >
     <% end %>
  <% if @hunt.id == 6  && @hunt.guide_id == 2%>
    <img src="/buff.jpg" >
     <% end %>
   
  <table>
    <tr>
      <td><h2>Animal:  <%= @hunt.animal %></h2></td>
    </tr>

    <tr>
      <td><h2>Location:  <%= @hunt.location %></h2></td>
    </tr>
     
    <tr>
      <td><h2>Price:  $<%= @hunt.cost %></h2></td>
    </tr>
    
    <tr>
     <td><%= link_to "Create New Review",new_hunt_review_path(@hunt)%></td><br>
    </tr>
  </table>

  <h2>For booking and further details call 1-800-BCH-HUNT! </h2>

<div align="center" class="wrapper" style="width: 700px; margin: 0 auto; padding-top: 80px; padding-bottom: 40px;">
  <h1> Hunting Reviews</h2>
<table>
 <%= @hunt.reviews.each do |review| %>

<div class="testimonial-quote group" align="center">
 <div class="quote-container">
  <blockquote>
    <p><%= review.content %></p>
  </blockquote>  
    
   </div>
  </div>  
 <% end %>
</div>
     
 

