
<div align="center">

<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg| %>
   <li><h5><%= msg %><h5></li>
  <% end %>
</ul>
<% end %>

<%= form_for @review do |f| %>
    <%= f.hidden_field :hunt_id %>

    <p>
     <h2>  Choose which hunt you would like to write a review for.</h2>
      <%= f.collection_select :hunt_id,Hunt.all,:id, :animal %><br>
    </p>
   
    
    <p>
     <h2><%= f.label :title %></h2>
      <%= f.text_field :title %>
    </p>
    
    <p>
     <h2><%= f.label :content %><h2>
      <%= f.text_area :content, :cols => 60, :rows => 10  %>
    </p>

     <%= f.submit %>
    <% end %>
</div>