
<div align="center">
<
<%= form_for @review do |f| %>
    <%= f.hidden_field :hunt_id %>

    <p>
    <h2>  Choose which hunt you like to write a review for.</h2>
    <%= f.collection_select :hunt_id,Hunt.all,:id, :animal %><br>
   
    </p>
    <p>
     <h2>Please choose your name </h2>
    <%= f.collection_select :user_id,User.all,:id, :name %>
    </p>
    <p>
    <h2><%= f.label :title %></h2>
    <%= f.text_field :title %>
    </p>
    
    <p>
    <h2><%= f.label :content %><h2>
    <%= f.text_area :content, :cols => 60, :rows => 10  %>
    </p>

    <%= f.submit,:method => :post%>
    <% end %>
    </div>