<!DOCTYPE html>
<html>
  <head>
    <title>MkTours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    background-image: url("/camo.jpg");
      background-size: cover;
      </style>
  </head>

  <body>
  
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div align= "center" class="wrapper">
       <div class="container">
         <div class="row">
           <div class="col-xs-8">
             <h1>Back Country Hunts</h1>
           </div>
           <div class="topnav">
   <%= link_to "Home", root_path %>
    <%= link_to "Log In/Sign Up", new_user_registration_path %>
     <%= link_to "Guides", guides_path %>
  <a href="#about">Log Out</a>

</div>
           <div class="col-xs-4">
             <img  class="wrapping img-fluid img-responsive"/>
           </div>
         </div>
         <div class="row">
           <div class="well">
           </div>
         </div>
       </div>
     </div>
    <%= yield %>
  </body>
</html>
